{% for entry in aws_inventory %}
- hostname: {{ aws_inventory[entry].hostname }}
    public_dns_name: {{ aws_inventory[entry].public_dns_name }}
    public_ip_address: {{ aws_inventory[entry].public_ip_address }}
    private_dns_name: {{ aws_inventory[entry].private_dns_name }}
    private_ip_address: {{ aws_inventory[entry].private_ip_address }}

{% endfor %}
